@gray-light: #333; 
@gray-dark: #777;
@light-text: @gray-light;
@bar-text: @gray-dark;
@bar-text-sameuser: #FFF;

body {
	background-color: #222;
	color: @light-text;
}


a {
	text-decoration: underline;
	color: #BBB;
}

a:hover{
	color: #FFF;
}

#container {
	width: 1024px;
}

#chartdiv {
	margin-top: 30px;
	margin-left: 250px;
	width: 960px;
	height: 960px;
}

#chartdiv text {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  fill: @bar-text;
}

#durdiv {
	display: none;
}

rect {
	display: none;
}

.tickline {
	pointer-events: none;
}
	


.postdiv {
	display: none; 
	position: absolute;
	border: 1px dotted #ddd;
	padding: 5px;
	background-color: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}



.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

/* infobox */

#infobox {
	font-family: 'PT Sans', sans-serif;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 1000;
	width: 200px;
	background-color: #EEE;
	text-align: center;
	padding: 5px;
	font-size: 0.6em;
	color: #333;
}
#infobox-inner {
	padding: 10px;
	border: 1px dotted #888;
}
#infobox .logo {
	font-weight: bold;
	font-size: 1.4em;
}
#infobox .parameters {
	margin-bottom: 20px;
}
#infobox .parameters div {
}
#infobox .info {
	margin-top: 10px;
	margin-bottom: 20px;
}
#infobox .locinfo {
	font-size: 0.65em;
}


h1, h2, h3, .title {
	font-family: 'PT Sans', sans-serif;
}

.post-hover {
	display: block !important;
	border: 10px solid cyan;
	fill: #FF00FF !important; 
}

.same-user-hover {
	fill: @bar-text-sameuser !important; 
}

