@gray-light: #333; 
@gray-dark: #777;
@light-text: @gray-light;
@bar-text: @gray-dark;
@bar-text-sameuser: #FF0;
@pp-red: #FF2F2F;
@hover-fill: @pp-red;

body {
	background-color: #222;
	color: @light-text;
}


a {
	text-decoration: underline;
	color: #BBB;
}

a:hover{
	color: #FFF;
}

#container {
/*	width: 1024px; */
}

#chartdiv {
//	margin-top: 30px;
//	margin-left: 250px;
	width: 960px;
	height: 960px;
}

#chartdiv text {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  fill: @bar-text;
}

#durdiv {
	display: none;
}

rect {
}

.tickline {
	pointer-events: none;
}
	


.postdiv {
    font-family: Helvetica, Arial, sans-serif;
//	display: none; 
	opacity: 0;
	position: absolute;
	border-top: 5px solid @pp-red;
	padding: 5px;
	background-color: white;
	pointer-events: none;
}

.postdiv.hover {
	display: block !important;
	fill: @pp-red !important; 
}

.postdiv .postinfo {
	font-size: 0.8em;
	max-width: 300px;
}

.postdiv .postinfo .user_name:before {
	}

.postdiv .postinfo .user_name:after {
	content: ":";
	display: inline;
	}

.postdiv .postinfo .post_text:before,
.postdiv .postinfo .post_text:after {
  color: @pp-red;
  content: '"';
  font-size: 1.6em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.1em;
}


.postdiv .postinfo .post_text {
	margin: 5px;
	padding-left: 5px;
	border-left: 1px dotted @pp-red;
	}

.postdiv .userinfo {
	font-size: 0.6em;
	margin-bottom: 5px;
	overflow: hidden;
}

.postdiv .userinfo div {
//	margin-left: 5px; 
//	padding-left: 5px;
//	border-left: 1px dotted @pp-red;
	}

.postdiv .userinfo div:first-child {
	width: calc(50% - 10px);
	float: left;
	}

.postdiv .userinfo div:last-child {
	margin-left: calc(50% - 5px);
	}

.postdiv .userinfo span {
	display: block;
	font-weight: bold;
	color: @pp-red;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}



.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

#loadingsplash {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	width: 128px;
	height: 128px;
	z-index: 5;

	background-color: transparent;
	padding: 10px;

	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: 3em;
	color: #333;
}

/* infobox */

#infobox {
	display: none !important;
	opacity: 0.5;
	font-family: 'PT Sans', sans-serif;
	position: fixed;
	left: 20px;
	top: 20px;
	z-index: 10;
	width: 250px;
	background-color: #EEE;
	text-align: left;
	padding: 5px;
	font-size: 0.6em;
	color: #333;
}
#infobox-inner {
	padding: 10px;
	border: 1px dotted #888;
}
#infobox .logo {
	font-weight: bold;
	font-size: 1.4em;
}
#infobox .parameters {
	margin-bottom: 20px;
}
#infobox .parameters div {
}
#infobox .info {
	margin-top: 10px;
	margin-bottom: 20px;
}
#infobox .locinfo {
	font-size: 0.65em;
}

.options {
	padding: 20px;
	overflow: hidden;
}

.one_option {
	overflow: hidden;
	margin-bottom: 5px;
	width: 90px;
	float: left;
}

.one_option label {
	float: left;
	padding-top: 4px;
	display: block;
}

.one_option .iradio_flat {
	float: left;
	margin-right: 5px;
}


h1, h2, h3, .title {
	font-family: 'PT Sans', sans-serif;
}







.sparkline.hover {
//	opacity: 1 !important;
	}
/*
.textlabels {
	position: absolute;
	top: 0px;
	left: 0px;
} */
.username {
	position: absolute;
	top: 0px;
	left: 0px;
}
.same-user-hover {
	fill: @bar-text-sameuser !important; 
}

#morelink {
	font-size: 2em;
	text-decoration: underline;
	cursor: pointer;
	}

.x-axis {
	position: fixed;
	bottom: 100px;
	}

.x-axis .tick text {
	position: fixed !important;
	bottom: 10px !important;
	}
